body {
    font-family: 'Poor Story', cursive;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 30%;
    padding: 10% 0 0 0;
    text-shadow: 3px 3px 17px #000000;
}

.signIn {
    display: flex;
    justify-content: center;
}

.vs-image {
    display: flex;
    justify-content: center;
    padding: 10% 0 5% 0;
}

body {
    font-family: 'Poor Story', cursive;
}


.modal-content {
    display: flex;
    justify-content: center;
    padding: 0 22px;
    border-bottom: 1px solid #e1ddd8;
}

.logo-icon {
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    mix-blend-mode: multiply;
    padding-left: 5%;
    padding-top: 15%;
}

.modal-header {
    align-items: center;
    padding-left: 5%;
}

.firstV {
    color: rgb(158, 30, 30);
    /* text-shadow: 2px 2px; */
}

.firstC {
    color: rgb(158, 30, 30);
    /* text-shadow: 2px 2px; */
}

.firstE {
    color: rgb(158, 30, 30);
    /* text-shadow: 2px 2px; */
}

.firstR {
    color: rgb(158, 30, 30);
    /* text-shadow: 2px 2px; */
}

.visualCodeMain {
    font-family: 'Poor Story', cursive;
    font-size: 2em;
}
































/* #FormDiv {

        margin:10px auto;
        max-width: 400px;
        padding: 20px 12px 10px 20px;
        font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


#FormDiv {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
#FormDiv{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}

#FormDiv input[type=text], 
#FormDiv input[type=date],
#FormDiv input[type=datetime],
#FormDiv input[type=number],
#FormDiv input[type=search],
#FormDiv input[type=time],
#FormDiv input[type=url],
#FormDiv input[type=email],
textarea, 

select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}



#FormDiv .field-long{
    width: 100%;
}
#FormDiv .field-select{
    width: 100%;
}
#FormDiv .field-textarea{
    height: 100px;
}
#FormDiv input[type=submit], #FormDiv input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
#FormDiv input[type=submit]:hover, #FormDiv input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
#FormDiv .required{
    color:red;
}







</style> */