body {
    font-family: 'Poor Story', cursive;
}

.form {
    padding-top: 2%;
}

.incorrect {
    display: flex;
    justify-content: center;
}

.inc-p {
    color: red;
}

.modal-content {
    display: flex;
    justify-content: center;
    padding: 0 22px;
    border-bottom: 1px solid #e1ddd8;
}

.form {
    display: flex;
    justify-content: center;
}

.logo {
display: flex;
justify-content: center;
}

.modal-header {
    align-items: center;
    padding-left: 5%;
}

.firstV {
    color: rgb(158, 30, 30);
    /* text-shadow: 2px 2px; */
}

.firstC {
    color: rgb(158, 30, 30);
    /* text-shadow: 2px 2px; */
}

.firstE {
    color: rgb(158, 30, 30);
    /* text-shadow: 2px 2px; */
}

.firstR {
    color: rgb(158, 30, 30);
    /* text-shadow: 2px 2px; */
}

.visualCodeMain {
    font-family: 'Poor Story', cursive;
    font-size: 2em;
}