body {
    font-family: 'Poor Story', cursive;
}


.modal-content {
    padding: 0 22px;
    border-bottom: 1px solid #e1ddd8;
}

.logo-icon {
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    mix-blend-mode: multiply;
    padding-left: 5%;
    padding-top: 15%;
}

.modal-header {
    align-items: center;
    padding-left: 5%;
}

.firstV {
    color: rgb(158, 30, 30);
    /* text-shadow: 2px 2px; */
}

.firstC {
    color: rgb(158, 30, 30);
    /* text-shadow: 2px 2px; */
}

.firstE {
    color: rgb(158, 30, 30);
    /* text-shadow: 2px 2px; */
}

.firstR {
    color: rgb(158, 30, 30);
    /* text-shadow: 2px 2px; */
}

.visualCodeMain {
    font-family: 'Poor Story', cursive;
    font-size: 2em;
}

.register {
    border: none;,
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button {
    text-align: center;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 50px;
    text-decoration: none;
    color: initial;
    /* border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    padding: 1px 7px 2px;
    font-style: none;
    align-items: flex-start;
    text-align: center;
    cursor: default;
     */
}